In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# %matplotlib inline #Se utilizar para mostrar la gráfica inmediatamente después del código 
import seaborn as sns

In [3]:
pd.read_csv("data/lmwpidweb.csv")

,contcod,country,region,year,inc_con,source,mysample,bin_year,group,pop,RRinc,RRmean,cons_2005ppp_pc,gdp_2005ppp_pc,totpop
0,AGO,Angola,Sub-Saharan Africa,1995,C,wyd,1,1993,1,1.137175,174.0,806,NaN,2090.259277,11.371750
1,AGO,Angola,Sub-Saharan Africa,1995,C,wyd,1,1993,2,1.137175,287.0,806,NaN,2090.259277,11.371750
2,AGO,Angola,Sub-Saharan Africa,1995,C,wyd,1,1993,3,1.137175,373.0,806,NaN,2090.259277,11.371750
3,AGO,Angola,Sub-Saharan Africa,1995,C,wyd,1,1993,4,1.137175,450.0,806,NaN,2090.259277,11.371750
4,AGO,Angola,Sub-Saharan Africa,1995,C,wyd,1,1993,5,1.137175,538.0,806,NaN,2090.259277,11.371750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5795,ZWE,Zimbabwe,Sub-Saharan Africa,1996,C,wyd,1,1998,6,1.226174,381.0,552,549.659005,677.041626,12.261742
5796,ZWE,Zimbabwe,Sub-Saharan Africa,1996,C,wyd,1,1998,7,1.226174,463.0,552,549.659005,677.041626,12.261742
5797,ZWE,Zimbabwe,Sub-Saharan Africa,1996,C,wyd,1,1998,8,1.226174,597.0,552,549.659005,677.041626,12.261742
5798,ZWE,Zimbabwe,Sub-Saharan Africa,1996,C,wyd,1,1998,9,1.226174,837.0,552,549.659005,677.041626,12.261742
5799,ZWE,Zimbabwe,Sub-Saharan Africa,1996,C,wyd,1,1998,10,1.226174,2180.0,552,549.659005,677.041626,12.261742