# Manipulación de Datos en Bases de Datos con Python

El objetivo de este challenge es aplicar los conceptos revisados durante el tema del día de hoy.

## Creación de Tablas

1. Crea una tabla llamada `writer` para almacenar la información de escritores famosos incluyendo los campos:
* FirstName (`VARCHAR(50)`)
* LastName (`VARCHAR(50)`)
* USERID (`int`)

Indica que la llave primaria (*primary key*) es ``USERID`.

2. Añade la información de los siguiente autores en la tabla:
  1. William Shakespeare, 001.
  2. Lin Han, 002.
  3. Peter Brecht, 003.

3. Muestra los nombres y apellidos de los escritores añadidos a la tabla.

## Explorando una base de datos

4. Crea una conexión con la base de datos `demo.db3``Muestra el nommbre de todas las tablas en la base de datos.

In [ ]:
/content/demo.db3

5. Considera la tabla `rch` muestra las columnas en la tabla.

6. Considera la tabla `watershed_yearly`. Muestra toda la información contenida en la tabla.

7. Considera la tabla `watershed_yearly`. Muestra toda la información contenida en las columnas `YR`,`PREC_mm` y `PET_mm`.

## Filtrado y Agregaciones Básicas

8. Considera la tabla `rch`. Utiliza la siguiente *query sentence* para observar el número de filas en la tabla:

```sql
SELECT COUNT(*) as nrow From rch
````

9. Considere que estamos interesados en los registros del año 1981. Obten los datos de las columnas `RCH`, `YR`, `MO`, `FLOW_INcms` y `FLOW_OUTcms` que cumplen la condición indicada.

10. Considere que estamos interesados en los registros del año 1981. Obten los datos de las columnas RCH, YR, MO, FLOW_INcms y FLOW_OUTcms que además pertenecen a los meses 3, 6, 9 y 12.

11. Obten el promedio de las columnas `FLOW_INcms` y `FLOW_OUTcms`.

12. Obten los valores extremos (mínimo y máximo) de las columnas anteriormente indicadas.

## Agrupando y Ordenando Datos

13. Utiliza la siguiente sentencia para determinar cuantos valores únicos hay en la columna `RCH` de la tabla `rch`.

```sql
SELECT COUNT(DISTINCT RCH) AS nRCH
FROM rch
```

14. Agrupa la tabla anterior para cada valor único de `RCH`. Obten el promedio de `FLOW_INcms` y `FLOW_OUTcms`.