In [1]:
import pandas as pd
import os
PATH_DATOS = "https://raw.githubusercontent.com/AlejandroPimentel/data_tutorial/main"

peliculas = pd.read_csv(
    os.path.join(PATH_DATOS, "titles_sample.csv"), 
    names=["titulo", "fch_estreno"], skiprows=1)
actores = pd.read_csv(
    os.path.join(PATH_DATOS, "cast_sample.csv"), 
    names=["titulo", "fch_estreno", "nombre", "tipo", "personaje", "n"], 
    skiprows=1)

In [2]:
peliculas.head()

               titulo  fch_estreno
0               Argie         1984
1            East End         2016
2  The Border Wildcat         1929
3           Jailkhana         1989
4   The Bowery Bishop         1924

In [3]:
actores.head()

,titulo,fch_estreno,nombre,tipo,personaje,n
0,In the Land of the Head Hunters,1914,Paddy 'Malid,actor,Kenada,5.0
1,Asad wa arbaa qutat,2007,4 Cats,actor,Themselves,2.0
2,All Things Fall Apart,2011,50 Cent,actor,Deon,1.0
3,Fire with Fire (II),2012,50 Cent,actor,Lamar,5.0
4,Home of the Brave,2006,50 Cent,actor,Jamal Aiken,4.0

### Usando `groupby()`, encuentra cuantas peliculas tenemos registradas para cada decada

In [12]:
peliculas.groupby((peliculas['fch_estreno'] // 10) * 10)['titulo'].count()

fch_estreno
1890        2
1900        9
1910     1508
1920     1977
1930     2287
1940     1869
1950     2800
1960     3883
1970     4084
1980     4300
1990     4635
2000     7919
2010    14668
2020       58
2110        1
Name: titulo, dtype: int64

In [14]:
peliculas_decadas = peliculas.copy()
peliculas_decadas['decadas'] = peliculas.fch_estreno.apply(lambda x: str(x)[:3]+"0's")
peliculas_decadas.groupby('decadas')['titulo'].count()

decadas
1890's        2
1900's        9
1910's     1508
1920's     1977
1930's     2287
1940's     1869
1950's     2800
1960's     3883
1970's     4084
1980's     4300
1990's     4635
2000's     7919
2010's    14668
2020's       58
2110's        1
Name: titulo, dtype: int64

### Usando `groupby()`, encuentra cuantas peliculas de Hamlet se han hecho en cada decada

### Para cada año de la decada de los 50s, cuantos roles principales (n=1) había para actrices y cuantos para actores

### En los años 50s, cuantos roles había para actores y para actrices, para cada numero entre el 1 y el 5 en la columna n

### Lista, en orden por fecha, cada una de las peliculas en las cuales Rajesh Khanna haya tenido mas de un rol

### Lista todos los actores con 5 o mas peliculas en las cuales tienen multiples roles

### Lista todos los personajes que Leo Gorcey haya actuado multiples veces

### Lista todos los actores que hayan actuado multiples veces al menos 5 personajes

In [17]:
actores[actores.nombre == 'Leo Gorcey']

,titulo,fch_estreno,nombre,tipo,personaje,n
48267,'Neath Brooklyn Bridge,1942,Leo Gorcey,actor,Mugs,1.0
48268,Angels in Disguise,1949,Leo Gorcey,actor,Slip Mahoney,1.0
48269,Angels' Alley,1948,Leo Gorcey,actor,Terence 'Slip' Mahoney,1.0
48270,Block Busters,1944,Leo Gorcey,actor,Ethelbert 'Muggs' McGinnis,1.0
48271,Born to Sing,1942,Leo Gorcey,actor,'Snap' Collins,3.0
48272,Bowery Blitzkrieg,1941,Leo Gorcey,actor,Muggs,1.0
48273,Bowery Bombshell,1946,Leo Gorcey,actor,Terence Aloysius 'Slip' Mahoney,1.0
48274,Come Out Fighting,1945,Leo Gorcey,actor,Mugs McGinnis,1.0
48275,Crime School,1938,Leo Gorcey,actor,Spike,6.0
48276,Destroyer,1943,Leo Gorcey,actor,Sarecky,5.0
48277,Docks of New York,1945,Leo Gorcey,actor,Mugs,1.0
48278,Down in San Diego,1941,Leo Gorcey,actor,'Snap' Collins,4.0
48279,Fighting Fools,1949,Leo Gorcey,actor,Terence Aloysius 'Slip' Mahoney,1.0
48280,Follow the Leader,1944,Leo Gorcey,actor,Muggs McGinnis,1.0
48281,Ghost Chasers,1951,Leo Gorcey,actor,Terence Aloysius 'Slip' Mahoney,1.0
48282,Hell's Kitchen,1939,Leo Gorcey,actor,Gyp,NaN
48283,High Society,1955,Leo Gorcey,actor,Terence Aloysius 'Slip' Mahoney,1.0
48284,In Fast Company,1946,Leo Gorcey,actor,Terence Aloysius 'Slip' Mahoney,1.0
48285,Jalopy,1953,Leo Gorcey,actor,Terrence Aloysius 'Slip' Mahoney,1.0
48286,Maisie Gets Her Man,1942,Leo Gorcey,actor,Ceecil,3.0
48287,News Hounds,1947,Leo Gorcey,actor,Terence J. Montgomery 'Slip' Mahoney,1.0
48288,Pride of the Bowery,1940,Leo Gorcey,actor,Muggs Maloney,1.0
48289,Smart Alecks,1942,Leo Gorcey,actor,Muggs,1.0
48290,Smugglers' Cove,1948,Leo Gorcey,actor,Terrence 'Slip' Mahoney,1.0
48291,Trouble Makers,1948,Leo Gorcey,actor,Slip Mahoney,1.0